[submodule "AntiPhish/Alamofire"]
	path = AntiPhish/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "AntiPhish/SwiftyJSON"]
	path = AntiPhish/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
